**/.vscode/
**\.vscode\
**/.gradle/
**\.gradle\

debug
debug.test
bin/*
bin\*
pkg/*
pkg\*
logs/*
logs\*
src/github.com/*
src\github.com\*

*.zip
*.log
*.pipe

out.abs
out.abc

integrationTest/scripts/assert.sh
