**/.vscode/
**\.vscode\
**/.gradle/
**\.gradle\

debug
debug.test
bin/*
bin\*
pkg/*
pkg\*
logs/*
logs\*
src/github.com/*
src\github.com\*
tmp/*
tmp\*

*.zip
*.log
*.pipe

out.abs
out.abc

test/integrationTest/scripts/assert.sh
debian/samba-exporter**
install/debian/samba-exporter**

src/man/samba_exporter.1.html
src/man/samba_exporter.1
src/man/samba_exporter.1.gz
src/man/start_samba_statusd.1.html
src/man/start_samba_statusd.1
src/man/start_samba_statusd.1.gz
src/man/samba_statusd.1.html
src/man/samba_statusd.1
src/man/samba_statusd.1.gz

debian/start_samba_statusd.1
debian/.debhelper/generated/samba-exporter/installed-by-dh_installman
debian/.debhelper/generated/samba-exporter/installed-by-dh_installdocs
debian/samba_statusd.1
debian/samba_exporter.1
debian/debhelper-build-stamp


build/pages/site/**
build/pages/__pycache__