[Unit]
Description=Prometheus-samba-statusd service, based on https://github.com/imker25/samba_exporter
Requires=network-online.target
After=network-online.target

[Service]
Type=forking
EnvironmentFile=/etc/default/samba_statusd
ExecStart=/usr/local/bin/start_samba_statusd.sh $ARGS
ExecReload=/bin/kill -TERM $MAINPID && /usr/local/bin/start_samba_statusd.sh $ARGS
Restart=on-failure
ExecStop=/bin/kill -TERM $MAINPID
KillSignal=SIGTERM
User=root 

[Install]
WantedBy=multi-user.target