[Unit]
Description=Prometheus-samba-exporter service, based on https://github.com/imker25/samba_exporter
Requires=samba_statusd.service
After=network-online.target samba_statusd.service

[Service]
EnvironmentFile=/etc/default/samba_exporter
ExecStart=/usr/local/bin/samba_exporter $ARGS
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
KillSignal=SIGTERM
User=samba-exporter 

[Install]
WantedBy=multi-user.target