Source: samba-exporter
Maintainer: Tobias Zellner <tobi@backfrak.de>
Section: utils
Priority: optional
Standards-Version: 1.0.0
Build-Depends: libc6 (>= 2.3.2), default-jdk-headless, golang

Package: samba-exporter
Architecture: amd64
Depends: libc6 (>= 2.3.2), systemd
Description: Prometheus exporter to get metrics of a samba server
HomePage: https://github.com/imker25/samba_exporter
