Source: samba-exporter
Maintainer: Tobias Zellner <tobi@backfrak.de>
Section: utils
Priority: optional
Standards-Version: 1.0.0
Build-Depends: libc6 (>= 2.3.2), default-jdk-headless, golang-1.16, gzip, ronn

Package: samba-exporter
Architecture: amd64
Depends: libc6 (>= 2.3.2), systemd
Description: Prometheus exporter to get metrics of a samba server
  This is a prometheus exporter to get metrics of a samba server. 
  It uses smbstatus to collect the data and converts the result into 
  prometheus style data.
  The prometheus style data can be requested manually on port 9922 
  using a http client. Or a prometheus database sever can be configured
  to collect the data by scraping port 9922 on the samba server.
HomePage: https://github.com/imker25/samba_exporter
