#!/usr/bin/make -f

include /usr/share/dpkg/pkg-info.mk

ROOT = $(CURDIR)/debian/samba-exporter
SHORT_VERSION = $(file < ${CURDIR}/VersionMaster.txt)
GOCACHE := $(CURDIR)/../.go-build
DH_GOLANG_BUILDPKG := tobi.backfrak.de/cmd/samba_exporter tobi.backfrak.de/cmd/samba_statusd tobi.backfrak.de/internal/commonbl tobi.backfrak.de/internal/smbexporterbl/smbstatusreader tobi.backfrak.de/internal/smbexporterbl/pipecomunication tobi.backfrak.de/internal/smbexporterbl/statisticsGenerator tobi.backfrak.de/internal/smbexporterbl/smbexporter tobi.backfrak.de/internal/smbstatusdbl
export DH_GOLANG_BUILDPKG 
export GOCACHE

BUILDFLAGS  = -ldflags="-X main.version=$(SHORT_VERSION)"
export BUILDFLAGS

override_dh_auto_clean:
	rm -rf $(GOCACHE)/*
	rm -rf $(CURDIR)/bin/*
	rm -rf $(CURDIR)/logs/*
	rm -rf $(CURDIR)/tmp/*
	mv $(CURDIR)/debian/samba-exporter.manpages $(CURDIR)/debian/bak.samba-exporter.manpages 
	rm -rf $(ROOT)*
	mv $(CURDIR)/debian/bak.samba-exporter.manpages $(CURDIR)/debian/samba-exporter.manpages 


execute_before_dh_auto_build:
	mkdir -p $(GOCACHE)
	mv $(CURDIR)/bin/src/src/* $(CURDIR)/bin/src/

execute_after_dh_auto_build:
	$(CURDIR)/build/CreateManPage.sh

override_dh_auto_build:
	dh_auto_build -- $(BUILDFLAGS)

override_dh_auto_install:
	rm -f $(CURDIR)/debian/conffiles
	build/InstallProgram.sh ${CURDIR} ${CURDIR}/bin/bin/ ${ROOT} 
	echo "Install man pages"
	cp $(CURDIR)/src/man/samba_exporter.1 $(CURDIR)/debian/
	cp $(CURDIR)/src/man/samba_statusd.1 $(CURDIR)/debian/
	cp $(CURDIR)/src/man/start_samba_statusd.1 $(CURDIR)/debian/


override_dh_auto_test:	 
	dh_auto_test --no-parallel 

%:
	dh $@ --buildsystem=golang --with=golang --builddirectory=$(CURDIR)/bin/

