#!/usr/bin/make -f

ROOT = $(CURDIR)/debian/samba-exporter
PACKAGE_NAME = $(file < ${CURDIR}/../logs/PackageName.txt)
SHORT_VERSION = $(file < ${CURDIR}/../VersionMaster.txt)

override_dh_auto_clean:
	$(CURDIR)/../gradlew -PgoExe=/usr/lib/go-1.16/bin/go --project-dir $(CURDIR)/..  clean

override_dh_auto_build:
	$(CURDIR)/../gradlew -PgoExe=/usr/lib/go-1.16/bin/go --project-dir $(CURDIR)/.. getBuildName build preparePack


override_dh_auto_install:
	rm -f $(CURDIR)/debian/conffiles
	echo "Install tree from ${CURDIR}/../tmp/${PACKAGE_NAME}"
	install -d -m 755 ${ROOT}/usr/bin
	install -s -m 755 ${CURDIR}/../tmp/${PACKAGE_NAME}/usr/bin/samba_exporter ${ROOT}/usr/bin/samba_exporter
	install -s -m 755 ${CURDIR}/../tmp/${PACKAGE_NAME}/usr/bin/samba_statusd ${ROOT}/usr/bin/samba_statusd
	install -m 755 ${CURDIR}/../tmp/${PACKAGE_NAME}/usr/bin/start_samba_statusd ${ROOT}/usr/bin/start_samba_statusd
	install -d -m 755 ${ROOT}/lib/systemd/system
	install -m 755 ${CURDIR}/../tmp/${PACKAGE_NAME}/lib/systemd/system/samba_exporter.service ${ROOT}/lib/systemd/system/samba_exporter.service
	install -m 755 ${CURDIR}/../tmp/${PACKAGE_NAME}/lib/systemd/system/samba_statusd.service ${ROOT}/lib/systemd/system/samba_statusd.service
	install -d -m 755 ${ROOT}/etc/default
	install -m 755 ${CURDIR}/../tmp/${PACKAGE_NAME}/etc/default/samba_exporter ${ROOT}/etc/default/samba_exporter
	install -m 755 ${CURDIR}/../tmp/${PACKAGE_NAME}/etc/default/samba_statusd ${ROOT}/etc/default/samba_statusd
	install -d -m 755 ${ROOT}/usr/share/doc/samba_exporter-V${SHORT_VERSION}/grafana
	install -m 755 ${CURDIR}/../tmp/${PACKAGE_NAME}/usr/share/doc/samba_exporter-V${SHORT_VERSION}/README.md ${ROOT}/usr/share/doc/samba_exporter-V${SHORT_VERSION}/README.md
	install -m 755 ${CURDIR}/../tmp/${PACKAGE_NAME}/usr/share/doc/samba_exporter-V${SHORT_VERSION}/grafana/SambaService.json ${ROOT}/usr/share/doc/samba_exporter-V${SHORT_VERSION}/grafana/SambaService.json
	
%:
	dh $@
