name: Release Jobs
on:
  release:
    types: [released]
jobs:
  publish-to-launchpad:
    strategy:
      matrix:
        os: [ubuntu-20.04]
    runs-on: ${{ matrix.os }}
    timeout-minutes: 20
    steps:
    - uses: actions/checkout@v2
      name: Checkout
      with:
       fetch-depth: 0
    - shell: bash
      name: Run the publish in docker script
      env:
        LAUNCHPAD_SSH_ID_PUB: ${{ secrets.LAUNCHPAD_SSH_ID_PUB }}
        LAUNCHPAD_SSH_ID_PRV: ${{ secrets.LAUNCHPAD_SSH_ID_PRV }}
        LAUNCHPAD_GPG_KEY_PUB: ${{ secrets.LAUNCHPAD_GPG_KEY_PUB }}
        LAUNCHPAD_GPG_KEY_PRV: ${{ secrets.LAUNCHPAD_GPG_KEY_PRV }}
      run: build/PublishLaunchpadInDocker.sh $GITHUB_REF
